// colors
$accentColor = lighten(#024959, 25%)

$textColor = #4a4a4a
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #f9f9f9
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #afafaf

$newsletterBgColor = #f8f8f8

// layout
$contentWidth = 900px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

$nprogressColor = $accentColor
